<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Delivery Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-uppercase" href="#">Balloon Shop App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/balloons">Balloons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-item-right">
                <a class="nav-link" href="#">
                    <th:block th:if="${#request.getRemoteUser() != null}"
                              th:text="${#request.getRemoteUser()}"></th:block>
                </a>
                <a class="btn btn-outline-dark" href="/login" th:if="${#request.getRemoteUser() == null}">Login</a>
                <a class="btn btn-outline-dark" href="/logout" th:if="${#request.getRemoteUser() != null}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-3">
                <form th:method="POST" th:action="@{/orders/delivery-info}">
<!--                    <label for="clientName" class="form-label">Client Name:</label><br/>-->
<!--                    <input type="text" id="clientName" name="clientName" class="form-control"/><br/>-->
<!--                    <label for="clientAddress" class="form-label">Delivery Address:</label><br/>-->
<!--                    <textarea cols="40" rows="3" id="clientAddress" name="clientAddress" class="form-control"></textarea>-->
                    <label for="date-created" class="form-label">Created at:</label><br/>
                    <input type="datetime-local" id="date-created" name="dateCreated" class="form-control"/>
                    <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Your Order Status
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Balloon Color </b></td>
                            <td><th:block th:text="${session.balloonColor}"></th:block></td>
                        </tr>
                        <tr>
                            <td><b>Balloon Size </b></td>
                            <td><th:block th:text="${session.balloonSize}"></th:block> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>